
# zip files
*.zip

# python
tests/venv
tests/__pycache__
tests/*.pyc

# golang
out

# goodot
**/override.cfg
exports/linux/*
!exports/linux/.gitkeep
exports/windows/*
!exports/windows/.gitkeep
exports/web/*
!exports/web/.gitkeep